* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "DM Serif Display", serif;
}

.heading{
  font-size:80px;
}
/* web Agency */
.navbar-brand {
  margin-left: 0px;
  font-size: 30px;
  font-family: "Baloo Bhai 2", cursive;
}
/* Home About Services */
a.nav-link {
  font-size: 16px;
}
/* Hover For Home About Services*/
a.nav-link:hover {
  border-top: 2px solid skyblue;
  border-bottom: 2px solid skyblue;
}
.about h1 {
  font-size: 7rem;
  color: #f56200 !important;
  text-shadow: 5px 5px black;
  margin-bottom: 200px;
}
img{
  margin-top: 20px;
  height:300px;
}
h1{
  font-weight: bolder;
  color: brown;
}
p{
  font-size: 20px;
  text-align: justify;
  color: black;
  font-family: 'Muli', sans-serif;
}
.card-title{
  font-size: 30px;
}
